body {
    background-color: silver;
}

header {
    color: silver;
}

.list-group {
    background-color: grey;
    padding: 25px;
}

#current {
    background-color: lightslategrey;
    padding: 50px;
}

#fiveDayWeather {
    background-color: lightslategrey;
    padding: 50px;
}

.weather {
    padding: 25px;
}